button.button-dark {
  padding: 1.25rem 2.1875rem;
  border-radius: 0.875rem;
  font-size: 1.25rem;
  line-height: 28px;
  font-weight: 400;
  background-color: black;
  color: white;
  display: block;
}