.highight-label {
  display: inline-block;
  font-size: 40px;
  line-height: 51px;
  font-weight: 500;
  margin-right: 2.5rem;
}

.section-description {
  display: inline-block;
  max-width: 580px;
  line-height: 22.97px;
  font-size: 18px;
  font-weight: 400;
}