.footer {
  padding: 55px 60px 50px 60px;
  background-color: #191a23;
  border-radius: 45px 45px 0px 0px;
  .heading {
    margin-bottom: 4rem;
    flex-wrap: wrap;
    gap: 2rem;
    .footer-menu {
      display: flex;
      flex-wrap: wrap;
      gap: 40px;

      p {
        text-decoration: underline;
      }
    }
  }

  .footer-contact {
    flex-wrap: wrap;
    gap: 2rem;
    .contact {
      max-width: 332px;

      > h4 {
        width: fit-content;
        margin-bottom: 28px;
      }

      > p {
        margin-bottom: 20px;
      }
    }

    .email {
      padding: 60px 40px;
      background-color: #292a32;
      border-radius: 14px;
      input {
        width: 285px;
        height: 4rem;
        border-radius: 14px;
        background-color: transparent;
        border: solid 1px white;
        padding: 22px 35px;
      }
      .subscribe {
        padding: 20px 35px;
        background-color: #b9ff66;
        border-radius: 14px;
        margin-left: 20px;
      }
    }
  }
}

@media (max-width: 769px) {
  .footer {
    padding: 30px 20px;
    .heading {
      flex-wrap: wrap;
      gap: 2rem;

      .footer-menu {
        p {
          text-decoration: none;
        }
      }
    }

    .footer-contact {
      .email {
        padding: 30px;
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1rem;
        input {
          width: 100%;
        }

        .subscribe {
          margin: unset;
          padding: 1rem;
        }
      }
    }
  }
}
