.landing {
  display: flex;
  justify-content: center;
  column-gap: 6.75rem;

  .info {
    width: 50%;
    max-width: 33.1875rem;

    .inner-banner {
      display: none;
    }

    .description {
      width: 94%;
    }

    *:not(:last-child) {
      margin-bottom: 2.25rem;
    }
  }
}

.services {
  display: flex;
  flex-direction: column;

  .cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5rem;
  }

  .proposal-card {
    align-self: center;
    position: relative;
    padding: 0 60px;
    border-radius: 2.8125rem;
    max-width: 77.5rem;
    display: flex;
    justify-content: space-between;
    background-color: #f3f3f3;
    margin-bottom: 10rem;
    width: 100%;

    .card-info {
      margin: 60px 0;
      max-width: 500px;
    }

    .proposal-img {
      position: absolute;
      right: 9rem;
      top: -25px;
    }
  }
}

@media (max-width: 1280px) {
  .services {
    .proposal-card {
      padding: 30px;

      .card-info {
        margin: 0;
      }
    }
  }
  .proposal-img {
    display: none;
  }
}

.case-studies {
  .case-study-card {
    border-radius: 45px;
    padding: 4.375rem 3.75rem;
    background-color: #191a23;

    div:nth-child(2) {
      border-left: solid white 1px;
      border-right: solid white 1px;
      padding: 0 4rem;
    }

    & > div:first-child {
      padding-right: 4rem;
    }

    div:last-child {
      padding-left: 4rem;
    }

    .study {
      font-size: 18px;
      line-height: 23px;
      font-weight: 400;
    }

    .arrow {
      transform: rotate(-45deg);
      margin-left: 0.5rem;
    }
  }

  .cards-mini {
    display: none;
  }

  @media (max-width: 1012px) {
    .case-study-card {
      display: none;
    }

    .cards-mini {
      display: grid;
      gap: 1.25rem;
    }
  }
}

.working-process {
  .cards {
    .expandable-card:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 768px) {
  .team {
    .cards-container {
      justify-content: center;
    }

    .team-btn-wrap {
      justify-content: center;

      button {
        width: 100%;
      }
    }
  }
}

.contact-us {
  .contact-card {
    background-color: #f3f3f3;
    border-radius: 45px;
    display: flex;
    justify-content: space-between;

    .form {
      padding: 3.75rem 0 5rem 6.25rem;
      width: 556px;
      display: flex;
      flex-direction: column;
      gap: 40px;
      .radios {
        > p {
          display: inline-block;

          &:first-child {
            margin-right: 2rem;
          }

          > input {
            margin-right: 0.5rem;
          }
        }
      }

      label {
        display: block;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 400;
        margin-bottom: 0.5rem;
      }

      input#name,
      input#email,
      textarea {
        border: solid 1px black;
        background-color: white;
        border-radius: 14px;
        width: 100%;
      }

      input#name,
      input#email {
        height: 60px;
      }

      textarea {
        height: 190px;
      }
    }
  }
}

@media (max-width: 1012px) {
  .landing {
    .info {
      width: unset;
      max-width: unset;

      .inner-banner {
        display: block;
      }
    }

    .banner {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .contact-us {
    .contact-card {
      .form {
        width: 100%;
        padding: 40px 30px;
      }
    }
    .contact-banner {
      display: none;
    }
  }
}
